/*------------------------------
=BASIC SETUP
------------------------------*/


/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0px auto;
	padding: 22px;
	font: 13px/22px "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	background: #DDD;
	width: 800px;
	color: #333;
}

header {
	display: block;
	height: 50px;
	overflow: hidden;
	margin: 0 0 20px;
	background: #EFEFEF;
	padding: 0 0 0 30px;
	line-height: 50px;
	-moz-border-radius:    10px;
  	-webkit-border-radius: 10px;
  	border-radius:         10px;
	REMOVE-webkit-box-shadow: 3px 3px 7px #aaa;
}

header h1 {
	float: left;
	font-size: 28px;
	line-height: 50px;
}

header h1 a {
	text-decoration: none;
	color: #000;
}

section {
	margin: 0 auto;
	padding: 20px 20px;
	-moz-border-radius:    14px;
  	-webkit-border-radius: 14px;
  	border-radius:         14px;
	REMOVE-webkit-box-shadow: 3px 3px 7px #aaa;
	background: #EEE;
}
 
h1, h2 {
	font-size: 28px;
	text-shadow: 1px 1px 3px #aaa;
	font-weight: bold;
	letter-spacing: -2px;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}

nav {
	float: right;
	margin: 0 8px 0 0;
}

nav ul {  
    margin: 0 auto;
    list-style: none;
}

nav ul li {  
    list-style-type: none;
	display: inline-block;
	margin: 0 44px 0 0;

}  
  
	nav ul li a {
		font-size: 14px;  
        line-height: 44px;  
        text-align: center;  
        text-decoration: none;  
        color: #444444;
		padding: 5px 12px;
		font-weight: bold;
		REMOVE-moz-transition: 0.25s;
		REMOVE-webkit-transition: 0.25s;
		REMOVEtransition: 0.25s;
		
	}

    nav ul li a:hover {
		background-color: rgba(0, 0, 0, 0.05);
		-moz-border-radius:    14px;
	  	-webkit-border-radius: 14px;
	  	border-radius:         14px;
    }  
  

        nav ul li a:active {  
            position: relative;
			top: 1px;
			left: 1px;
        }
  
        nav ul li.selected a {  
            color: #777777;  
        }

/* Sign up button */

a.signup_button {
	margin: 0 auto;
	padding: 22px 0;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.3, rgb(37,74,130)),
	    color-stop(0.65, rgb(63,104,156)),
	    color-stop(0.83, rgb(95,136,188))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(37,74,130) 30%,
	    rgb(63,104,156) 65%,
	    rgb(95,136,188) 83%
	);
	-webkit-box-shadow: 3px 3px 7px #aaa;
	font-size: 150%;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius:    50px;
  	-webkit-border-radius: 50px;
  	border-radius:         50px;
}

a.signup_button:hover {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.3, rgb(27,53,92)),
	    color-stop(0.65, rgb(55,88,128)),
	    color-stop(0.83, rgb(88,123,166))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(27,53,92) 30%,
	    rgb(55,88,128) 65%,
	    rgb(88,123,166) 83%
	);
}

a.signup_button:active {
    position: relative;
	top: 1px;
	left: 1px;
}

	/*------------------------------
	=FOOTER
	------------------------------*/
	footer {
		border-top: 1px solid #aaa;
		clear: both;
		padding: 15px 0;
		margin: 30px auto;
		text-align: center;
		
	}
