<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%= render 'layouts/stylesheets' %>
  </head>
  <body>
	<%= render 'layouts/header' %>
	  <section>
	    <%= yield %>
	  </section>

  </body>
</html>
